In [3]:
 val names_us = spark.read.csv("hdfs://namenode:8020/user/marcos/data/exercises-data/names/")

names_us: org.apache.spark.sql.DataFrame = [_c0: string, _c1: string ... 1 more field]

In [5]:
names_us.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [6]:
names_us.show(5)

+--------+---+-----+
|     _c0|_c1|  _c2|
+--------+---+-----+
|    Emma|  F|18809|
|Isabella|  F|18612|
|   Emily|  F|17429|
|  Olivia|  F|17078|
|     Ava|  F|17035|
+--------+---+-----+
only showing top 5 rows

In [8]:
case class Nascimento (nome: String, sexo: String, quantidade: Int)

defined class Nascimento

In [10]:
import org.apache.spark.sql.Encoders
val schema_names = Encoders.product[Nascimento].schema

import org.apache.spark.sql.Encoders
schema_names: org.apache.spark.sql.types.StructType = StructType(StructField(nome,StringType,true), StructField(sexo,StringType,true), StructField(quantidade,IntegerType,false))

In [13]:
val names_ds = spark.read.schema(schema_names).csv("hdfs://namenode:8020/user/marcos/data/exercises-data/names/")

names_ds: org.apache.spark.sql.DataFrame = [nome: string, sexo: string ... 1 more field]

In [14]:
val names_ds = spark.read.schema(schema_names).csv("hdfs://namenode:8020/user/marcos/data/exercises-data/names/").as[Nascimento]

names_ds: org.apache.spark.sql.Dataset[Nascimento] = [nome: string, sexo: string ... 1 more field]

In [15]:
names_ds.printSchema()

root
 |-- nome: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- quantidade: integer (nullable = true)

In [16]:
names_ds.write.save("hdfs://namenode:8020/user/marcos/names_us_parquet")

In [18]:
spark.read.load("hdfs://namenode:8020/user/marcos/names_us_parquet").show()

+---------+----+----------+
|     nome|sexo|quantidade|
+---------+----+----------+
|     Emma|   F|     18809|
| Isabella|   F|     18612|
|    Emily|   F|     17429|
|   Olivia|   F|     17078|
|      Ava|   F|     17035|
|  Madison|   F|     17027|
|   Sophia|   F|     16081|
|  Abigail|   F|     15081|
|Elizabeth|   F|     12002|
|    Chloe|   F|     11824|
| Samantha|   F|     11178|
|  Addison|   F|     10759|
|  Natalie|   F|     10199|
|      Mia|   F|     10168|
|   Alexis|   F|      9721|
|   Alyssa|   F|      9635|
|   Hannah|   F|      9560|
|   Ashley|   F|      9403|
|     Ella|   F|      9349|
|    Sarah|   F|      9042|
+---------+----+----------+
only showing top 20 rows