### Atalhos spark

letra m muda a célula para markdown e y para code //

letra A insere uma celula nova acima e b abaixo

In [1]:
spark

In [3]:
#2. Obter as informações da sessão de spark (spark)
sc

In [4]:
# 4. Setar o log como INFO.
spark.sparkContext.setLogLevel("INFO")

In [9]:
# 5. Visualizar todos os banco de dados com o catalog
spark.catalog.listDatabases()

[Database(name='default', description='Default Hive database', locationUri='hdfs://namenode:8020/user/hive/warehouse')]

In [12]:
# 6. Ler os dados "hdfs://namenode:8020/user/rodrigo/data/juros_selic/juros_selic.json“ com uso de Dataframe
dados_juros = spark.read.json("hdfs://namenode:8020/user/marcos/data/exercises-data/juros_selic/juros_selic.json")
dados_juros.show(5)
# OU usar o caminho 
# dados_juros = spark.read.json("hdfs:///user/marcos/data/exercises-data/juros_selic/juros_selic.json")

+----------+-----+
|      data|valor|
+----------+-----+
|01/06/1986| 1.27|
|01/07/1986| 1.95|
|01/08/1986| 2.57|
|01/09/1986| 2.94|
|01/10/1986| 1.96|
+----------+-----+
only showing top 5 rows

In [14]:
# Detalhe ser fizer um down e up no cluster tem que baixar o jar novamente
# 7. Salvar o Dataframe como juros no formato de tabela Hive
dados_juros.write.saveAsTable('dados_juros')

In [15]:
# 8. Visualizar todas as tabelas com o catalog
spark.catalog.listTables()

[Table(name='dados_juros', database='default', description=None, tableType='MANAGED', isTemporary=False)]

In [20]:
# 9. Visualizar no hdfs o formato e compressão que está a tabela juros do Hive
# !ls / para usar comando linux 
!hdfs dfs -ls /user/hive/warehouse/dados_juros

Found 2 items
-rw-r--r--   2 root supergroup          0 2021-06-23 22:28 /user/hive/warehouse/dados_juros/_SUCCESS
-rw-r--r--   2 root supergroup       3883 2021-06-23 22:28 /user/hive/warehouse/dados_juros/part-00000-52fee6d1-9e5a-4b45-b36b-2884d56059a1-c000.snappy.parquet

In [21]:
# 10. Ler e visualizar os dados da tabela juros, com uso de Dataframe no formato de Tabela Hive
spark.read.table("dados_juros").show(5)

+----------+-----+
|      data|valor|
+----------+-----+
|01/06/1986| 1.27|
|01/07/1986| 1.95|
|01/08/1986| 2.57|
|01/09/1986| 2.94|
|01/10/1986| 1.96|
+----------+-----+
only showing top 5 rows

In [22]:
# se tiver em formato de tabela é melhor lê usando o código acima
spark.read.parquet("/user/hive/warehouse/dados_juros/").show(5)

+----------+-----+
|      data|valor|
+----------+-----+
|01/06/1986| 1.27|
|01/07/1986| 1.95|
|01/08/1986| 2.57|
|01/09/1986| 2.94|
|01/10/1986| 1.96|
+----------+-----+
only showing top 5 rows